.SearchBar_Container{
    margin: auto;
    flex-grow: 2;
    display: flex;
    height:2rem;
}

.SearchBar_Container2{
    margin: auto;
}

.search_div{
    display: flex;
    margin: auto;
    position: relative;
    z-index:91;
}

.iBox_SearchBar{
    background-color:white;
    width:30rem;
    border:1px solid rgba(128,128,128,0.4);
    color:white;
    font-size: large;
    padding:0.2rem;
    height: 2rem;
    padding-left:2rem;
}